.many-recharge {
  width: 100%;
  height: 772px;
}
.many-recharge .m-r-top {
  width: 100%;
  height: 458px;
  padding-top: 23px;
}
.many-recharge .m-r-top .m-r-table {
  position: relative;
  border: 1px solid #e9e9e9;
}
.many-recharge .m-r-top .m-r-table .table-heard {
  height: 40px;
  font-size: 0;
  background-color: #fafafa;
}
.many-recharge .m-r-top .m-r-table .table-heard div {
  display: inline-block;
  height: 100%;
  font-size: 14px;
  text-align: center;
  line-height: 40px;
  border-right: 1px solid #e9e9e9;
}
.many-recharge .m-r-top .m-r-table .table-heard div:nth-child(1) {
  width: 4.9%;
}
.many-recharge .m-r-top .m-r-table .table-heard div:nth-child(2) {
  width: 29.9%;
}
.many-recharge .m-r-top .m-r-table .table-heard div:nth-child(3) {
  width: 20.9%;
}
.many-recharge .m-r-top .m-r-table .table-heard div:nth-child(4) {
  width: 14.9%;
}
.many-recharge .m-r-top .m-r-table .table-heard div:nth-child(5) {
  width: 18.9%;
}
.many-recharge .m-r-top .m-r-table .table-heard div:nth-child(6) {
  width: 9.95%;
  border-right: 0;
}
.many-recharge .m-r-top .m-r-table .table-con {
  height: 320px;
  overflow-y: scroll;
}
.many-recharge .m-r-top .m-r-table .table-con::-webkit-scrollbar {
  display: none;
}
.many-recharge .m-r-top .m-r-table .table-con ul {
  width: 100%;
}
.many-recharge .m-r-top .m-r-table .table-con ul li {
  height: 40px;
  list-style: none;
  font-size: 0;
}
.many-recharge .m-r-top .m-r-table .table-con ul li div {
  display: inline-block;
  height: 100%;
  font-size: 14px;
  text-align: center;
  vertical-align: top;
  border-right: 1px solid #e9e9e9;
}
.many-recharge .m-r-top .m-r-table .table-con ul li div:nth-child(1) {
  width: 4.9%;
}
.many-recharge .m-r-top .m-r-table .table-con ul li div:nth-child(1) span {
  line-height: 40px;
}
.many-recharge .m-r-top .m-r-table .table-con ul li div:nth-child(2) {
  width: 29.9%;
}
.many-recharge .m-r-top .m-r-table .table-con ul li div:nth-child(3) {
  width: 20.9%;
}
.many-recharge .m-r-top .m-r-table .table-con ul li div:nth-child(4) {
  width: 14.9%;
  line-height: 40px;
}
.many-recharge .m-r-top .m-r-table .table-con ul li div:nth-child(5) {
  width: 18.9%;
  line-height: 40px;
}
.many-recharge .m-r-top .m-r-table .table-con ul li div:nth-child(6) {
  width: 9.95%;
  border-right: 0;
}
.many-recharge .m-r-top .m-r-table .table-con ul li .phoneNumber .el-input {
  width: 250px;
  height: 30px;
  border: 0;
  margin-top: 5px;
}
.many-recharge .m-r-top .m-r-table .table-con ul li .cash .el-input {
  width: 170px;
  height: 30px;
  border: 0;
  margin-top: 5px;
}
.many-recharge .m-r-top .m-r-table .table-con ul li .operate img {
  margin-top: 10px;
}
.many-recharge .m-r-top .m-r-table .table-con ul li .operate img:hover {
  cursor: pointer;
}
.many-recharge .m-r-top .m-r-table .table-con ul .bg {
  background-color: #fafafa;
}
.many-recharge .m-r-top .recharge-cash {
  margin-top: 10px;
}
.many-recharge .m-r-top .recharge-cash span {
  color: #f7a833;
}
.many-recharge .m-r-top .recharge-cash p {
  display: inline-block;
}
.many-recharge .m-r-top .buttons {
  width: 100%;
  height: 36px;
  margin-top: 25px;
}
.many-recharge .m-r-top .buttons .commit {
  width: 120px;
  height: 36px;
  padding: 0;
  background-color: #7b5bc7;
  color: white;
}
.many-recharge .m-r-top .buttons .commit:hover {
  border-color: #7b5bc7;
}
.many-recharge .m-r-top .buttons .commit:focus {
  border-color: #7b5bc7;
}
.many-recharge .m-r-top .buttons .addLi {
  width: 120px;
  height: 36px;
  padding: 0;
  border-color: #7b5bc7;
  color: #7b5bc7;
}
.many-recharge .m-r-top .buttons p {
  float: right;
  display: inline-block;
  line-height: 36px;
  font-size: 14px;
  color: #494949;
}
.many-recharge .m-r-top .buttons p span {
  color: #f7a833;
}
.many-recharge .m-r-bot {
  width: 100%;
  height: 276px;
}
